workflows/wf-ci-ci-failure-wake-agent.json
{
  "name": "WF-CI: CI Failure \u2192 Wake Agent",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "GitHub CI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "github-ci",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "2e0f387a-c5c5-49a9-a411-e655e5601b99"
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Filter: Completed + Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.body.check_run.conclusion }}",
              "rightValue": "failure",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Find Linked PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name }}/commits/{{ $json.body.check_run.head_sha }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "RfjQF27PtHxdDYRS",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Has Open PR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Repo Config Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "jsCode": "const REPO_CONFIG = {\n  'fluent-io/getonit': {\n    agentId: 'getonit',\n    delivery: { channel: 'discord', to: 'channel:1477347170200846577' }\n  }\n};\nconst repo = $('GitHub CI Webhook').first().json.body.repository.full_name;\nconst checkRun = $('GitHub CI Webhook').first().json.body.check_run;\nconst pr = $input.first().json[0];\nconst config = REPO_CONFIG[repo] || null;\nreturn [{ json: { repo, config, checkName: checkRun.name, prNumber: pr.number, prTitle: pr.title, skip: !config } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Wake Agent (CI Red)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://openclaw-victor:18789/hooks/agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agentId\": \"{{ $json.config.agentId }}\",\n  \"message\": \"CI FAILED: {{ $json.repo }}#{{ $json.prNumber }} \u2014 check '{{ $json.checkName }}' failed. Fix the issue and push.\",\n  \"wakeMode\": \"now\",\n  \"deliver\": true,\n  \"channel\": \"{{ $json.config.delivery.channel }}\",\n  \"to\": \"{{ $json.config.delivery.to }}\"\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2T2E4b6hmgjv1dg",
          "name": "OpenClaw Webhook Token"
        }
      }
    }
  ],
  "connections": {
    "GitHub CI Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter: Completed + Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Completed + Failed": {
      "main": [
        [
          {
            "node": "Find Linked PR",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Find Linked PR": {
      "main": [
        [
          {
            "node": "Has Open PR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Open PR?": {
      "main": [
        [
          {
            "node": "Repo Config Lookup",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Repo Config Lookup": {
      "main": [
        [
          {
            "node": "Wake Agent (CI Red)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}