workflows/wf-merge-pr-merged-wake-agent.json
{
  "name": "WF-Merge: PR Merged \u2192 Wake Agent",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "GitHub Merge Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "github-merge",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "177b2f9e-694d-400a-a00b-b88e16c1f2ce"
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Filter: Merged Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.body.pull_request.merged }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Repo Config + Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const REPO_CONFIG = {\n  'fluent-io/getonit': {\n    agentId: 'getonit',\n    delivery: { channel: 'discord', to: 'channel:1477347170200846577' }\n  }\n};\nconst body = $input.first().json.body;\nconst pr = body.pull_request;\nconst repo = body.repository.full_name;\nconst config = REPO_CONFIG[repo];\nif (!config) return [{ json: { skip: true } }];\nconst branch = pr.head.ref;\nreturn [{ json: {\n  skip: false,\n  agentId: config.agentId,\n  delivery: config.delivery,\n  message: `PR merged: ${repo}#${pr.number} (${pr.title}). Post a completion message in your channel and clean up branch '${branch}' and any associated worktree. Then pick up the next issue.`\n} }];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Wake Agent (Merged)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://openclaw-victor:18789/hooks/agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agentId\": \"{{ $json.agentId }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"wakeMode\": \"now\",\n  \"deliver\": true,\n  \"channel\": \"{{ $json.delivery.channel }}\",\n  \"to\": \"{{ $json.delivery.to }}\"\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2T2E4b6hmgjv1dg",
          "name": "OpenClaw Webhook Token"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Clear Retry Counter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1180,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pr_retries WHERE repo = '{{ $('Repo Config + Build Message').first().json.repo }}' AND pr_number = {{ $('GitHub Merge Webhook').first().json.body.pull_request.number }};",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3f0cd129-1670-48db-9ebf-b4488e01c735",
          "name": "n8n Postgres (pr_retries)"
        }
      }
    }
  ],
  "connections": {
    "GitHub Merge Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter: Merged Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Merged Only": {
      "main": [
        [
          {
            "node": "Repo Config + Build Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Repo Config + Build Message": {
      "main": [
        [
          {
            "node": "Wake Agent (Merged)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wake Agent (Merged)": {
      "main": [
        [
          {
            "node": "Clear Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}