workflows/wf-pr-trigger-auto-review-on-push.json
{
  "name": "WF-PR-Trigger: Auto-Review on Push",
  "nodes": [
    {
      "id": "prt-001",
      "name": "GitHub PR Push Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "c9a1f2b3-4d5e-6f7a-8b9c-0d1e2f3a4b5c"
    },
    {
      "id": "prt-002",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "prt-003",
      "name": "Extract and Filter PR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nconst pr = body.pull_request;\nconst repo = body.repository ? body.repository.full_name : null;\n\nif (![\"synchronize\", \"opened\"].includes(action)) {\n  return [{ json: { skip: true, reason: \"Action not handled: \" + action } }];\n}\nif (!pr) return [{ json: { skip: true, reason: \"No PR in payload\" } }];\nconst ALLOWED_REPOS = [\"fluent-io/getonit\"];\nif (!ALLOWED_REPOS.includes(repo)) return [{ json: { skip: true, reason: \"Repo not configured: \" + repo } }];\nif (pr.draft) return [{ json: { skip: true, reason: \"Draft PR\" } }];\nif (pr.base.ref !== \"main\") return [{ json: { skip: true, reason: \"Base branch is \" + pr.base.ref } }];\n\nreturn [{ json: { skip: false, prNumber: String(pr.number), prTitle: pr.title, headSha: pr.head.sha, repo, action } }];"
      }
    },
    {
      "id": "prt-004",
      "name": "Should Dispatch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "prt-005",
      "name": "Dispatch PR Review Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/fluent-io/getonit/actions/workflows/249014797/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"pr_number\": \"{{ $json.prNumber }}\",\n    \"attempt\": \"{{ $json.attempt }}\",\n    \"prior_issues\": {{ $json.prior_issues }}\n  }\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "RfjQF27PtHxdDYRS",
          "name": "GitHub Token"
        }
      }
    },
    {
      "id": "prt-006",
      "name": "Get Retry State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        940,
        320
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT retry_count, last_issues FROM pr_retries WHERE repo = '{{ $json.repo }}' AND pr_number = {{ $json.prNumber }} LIMIT 1;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3f0cd129-1670-48db-9ebf-b4488e01c735",
          "name": "n8n Postgres (pr_retries)"
        }
      }
    },
    {
      "id": "prt-007",
      "name": "Decide Attempt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        320
      ],
      "parameters": {
        "jsCode": "const prData = $(\"Should Dispatch?\").first().json;\nconst retryRows = $input.all();\nconst MAX_ATTEMPTS = 5;\n\nlet retryCount = 0;\nlet lastIssues = \"[]\";\n\nif (retryRows.length > 0 && retryRows[0].json && retryRows[0].json.retry_count != null) {\n  retryCount = Number(retryRows[0].json.retry_count);\n  lastIssues = retryRows[0].json.last_issues || \"[]\";\n}\n\nconst attempt = retryCount + 1;\nconst escalate = attempt > MAX_ATTEMPTS;\n\nreturn [{ json: { ...prData, attempt: String(attempt), prior_issues: lastIssues, escalate, retryCount } }];"
      }
    },
    {
      "id": "prt-009",
      "name": "At Ceiling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.escalate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "prt-008",
      "name": "Escalate to Victor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "http://172.27.0.4:18789/hooks/agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agentId\": \"victorpa\",\n  \"message\": \"PR #{{ $json.prNumber }} ({{ $json.repo }}) has failed review {{ $json.retryCount }} times. Builder agent is stuck. Review manually: https://github.com/{{ $json.repo }}/pull/{{ $json.prNumber }}\",\n  \"wakeMode\": \"now\",\n  \"deliver\": true\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2T2E4b6hmgjv1dg",
          "name": "OpenClaw Webhook Token"
        }
      }
    }
  ],
  "connections": {
    "GitHub PR Push Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract and Filter PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Filter PR": {
      "main": [
        [
          {
            "node": "Should Dispatch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Dispatch?": {
      "main": [
        [
          {
            "node": "Get Retry State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Retry State": {
      "main": [
        [
          {
            "node": "Decide Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Attempt": {
      "main": [
        [
          {
            "node": "At Ceiling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "At Ceiling?": {
      "main": [
        [
          {
            "node": "Escalate to Victor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dispatch PR Review Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}